/* Error: Mixin doesn't accept a content block.
 *    ,--> styles\systems\dnd5e.scss
 * 31 |         @include hoverRaise {
 *    |         ^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> styles\variables.scss
 * 96 | @mixin hoverRaise {
 *    |        ========== declaration
 *    '
 *   styles\systems\dnd5e.scss 31:9  @use
 *   styles\init.scss 5:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Mixin doesn't accept a content block.\a    \250c \2500 \2500 > styles\\systems\\dnd5e.scss\a 31 \2502          @include hoverRaise {\d\a    \2502          ^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > styles\\variables.scss\a 96 \2502  @mixin hoverRaise {\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   styles\\systems\\dnd5e.scss 31:9  @use\a   styles\\init.scss 5:1            root stylesheet";
}
