/* Error: expected ";".
 *    ,
 * 67 |       border-width  :2px box-shadow: none;
 *    |                                    ^
 *    '
 *   styles\core\foundry.scss 67:36  @use
 *   styles\init.scss 2:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 67 \2502        border-width  :2px box-shadow: none;\d\a    \2502                                     ^\a    \2575 \a   styles\\core\\foundry.scss 67:36  @use\a   styles\\init.scss 2:1            root stylesheet';
}
