@use '../variables' as *;

/* Sheets */
/* Comes up often for DAE menus */

body .dnd5e {
  &.sheet {
    &.item .effect-header {
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $purple 0%, $cyan 100%);
    }

    .filter-list .filter-item {
      &.active {
        color: $purple;
        border-bottom: 1px solid $purple;
        box-shadow: none;
        transition: all .2s ease-in-out;

        &:hover {
          color: $purple;
          border-bottom: 1px solid $purple;
          box-shadow: 0 0 4px $purple;
          transition: all .2s ease-in-out;
        }
      }

      color: $disabled;
      box-shadow: 0 0 4px $disabled;
    }

    &.actor.inventory-filters.flexrow {
      border: none;
    }

    /* Select aka Dropdown Boxes */
    select {
      background: $black;
      border: 1px solid $cyan;
    }
  }

  /* Select aka Dropdown Boxes */
  select, .form-group .form-fields {
    color: $white;
    border: 1px solid $cyan;
  }

  input {
    &[type="text"], &[type="number"] {
      color: $white;
      border: 1px solid $cyan;
    }
  }

  /* Attack + Damage buttons */
  button {
    color: $whiteSecondary;
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient($gradientDegree, $purple 0%, $red 100%);
    --shadow-color:246deg 23% 6%;
    box-shadow: 0 0.2px 0.2px hsl(var(--shadow-color) / 0.25), 0 0.3px 0.4px -0.9px hsl(var(--shadow-color) / 0.31), 0 0.7px 0.9px -1.8px hsl(var(--shadow-color) / 0.37);
    text-shadow: 0 0.2px 0.2px hsl(var(--shadow-color) / 0.26), 0 0.6px 0.7px -0.6px hsl(var(--shadow-color) / 0.31), -0.1px 1.5px 1.8px -1.2px hsl(var(--shadow-color) / 0.36), -0.2px 3.4px 4.2px -1.8px hsl(var(--shadow-color) / 0.4);
    margin: 2px;

    &:hover, &:focus {
      box-shadow: 0 0 5px $purple;
      cursor: pointer;
    }
  }

  &.sheet .item-buttons {
    padding: 0;
    color: $text-color;
    border-radius: 6px;
    border: 1px solid $purpleLight;
  }

  /* Chat Cards */
  &.chat-card {
    .card-header {
      border: none;
      padding: 0;
    }

    /* The segmented details in the expanded roll information */
    .card-buttons span {
      border: none;
      font-size: 12px;
      line-height: 25px;
      background: inherit;
      box-shadow: none;
    }

    .card-header {
      /* Code referenced from Warhead
      Set item name header to regular font and be smaller + transition for .chat-message */
      h3 {
        color: $white;
        font-family: "Signika";
        font-weight: bold;
        font-size: 14px;
      }

      &:hover h3 {
        color: $white;
        text-shadow: 0 0 8px $pink;
        font-family: "Signika";
        font-weight: bold;
        font-size: 14px;
      }

      img {
        height: 36px;
        width: 36px;
        border-radius: 0;
        border: 1px solid $purple;
        padding: 0;
      }
    }

    .card-footer {
      color: $whiteSecondary;
      border: none;
      padding: 0;

      span {
        border: none;
      }
    }
  }
}

/* Original grey
body .dnd5e button {
  color: $text-color;
  border: 1px solid $purpleLight;
  border-radius: 6px;
} */






