@use "../variables" as *;

.dnd5e {
  background-image: $content;
  input {
    &[type="text"],
    &[type="number"],
    select {
      background: transparent;
      border-color: $borderSecondary;
      color: $accent;
    }

    &[type="text"]:hover,
    &[type="number"]:hover,
    &[type="checkbox"]:hover,
    &[type="text"]:focus,
    &[type="number"]:focus,
    &[type="checkbox"]:focus {
      border: 1px solid $borderSecondary;
      box-shadow: 0 0 8px $accentTertiary;
    }

    &:disabled {
      color: $inactive;
    }
  }

  button {
    @include heavyShadow;
    @include lightToDark($content);
    border: 1px solid $accent;
    border-radius: 1px;
    margin: 2px;

    &:focus,
    &:hover {
      @include hoverRaise;
    }
  }

  select {
    border-color: $borderSecondary;
    background: rgba(0, 0, 0, 0.05);
    color: $accent;
    &:disabled {
      color: $inactive;
    }
  }

  textarea {
    &:disabled {
      color: $inactive;
    }
  }

  .form {
    &-header {
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      box-shadow: none;
      text-shadow: none;
    }

    &-group label {
      color: $textSecondary;
      box-shadow: none;
      text-shadow: none;
    }
  }

  .tag {
    color: $textSecondary;
    border: 1px solid $accent;
  }

  //Attack + Damage Buttons
  &.chat-card {
    .card-buttons {
      button {
        color: $text;
      }

      span {
        border: 1px solid transparent;
      }
    }

    .card-content > * {
      color: $textTertiary;
    }

    .card-header {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;

      h3 {
        color: $text;
        font-family: "Signika", serif;
        font-weight: bold;
        font-size: 14px;

        &:hover {
          color: $text;
          font-family: "Signika", serif;
          font-weight: bold;
          font-size: 14px;
          text-shadow: 0 0 8px $accent;
        }
      }

      img {
        height: 36px;
        width: 36px;
        border: 1px solid $border;
        border-radius: 6px;
        padding: 0;
      }
    }

    .card-footer {
      color: $textSecondary;
      border: 1px solid transparent;
      padding: 0;

      span {
        border-right: 1px solid transparent;
      }
    }
  }

  &.sheet {
    .editable {
      h4.rollable:hover,
      .rollable:hover > h4 {
        color: $accent;
        text-shadow: 0 0 10px $accent;
      }
      &.actor {
        flexrow,
        style {
          border: 1px solid transparent;
        }
      }
    }

    .effects {
      .item {
        .effect {
          &-controls,
          &-duration,
          &-source {
            border-left: 1px solid $border;
            border-right: 1px solid $border;
          }
        }
      }
    }

    .filter-list {
      .filter-item {
        color: $inactive;
        border-bottom: 3px solid $inactive;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $accentTertiary;
          border-bottom: 3px solid $accentTertiary;
          text-shadow: 0 0 4px $glow;
        }

        &.active {
          color: $accentTertiary;
          border-bottom: 3px solid $accentTertiary;
          text-shadow: none;

          &:hover {
            color: $accentTertiary;
            border-bottom: 3px solid $accentTertiary;
            text-shadow: 0 0 4px $glow;
          }
        }
      }
    }

    .items-list {
      .items-header {
        color: $textTertiary;
        border: 1px solid $borderTertiary;
      }

      .item-name {
        &:hover {
          color: $accent;
          text-shadow: $glow;
        }
      }

      .item {
        border-bottom: 1px solid $border;

        .item-name {
          color: $text;

          .item-image {
            margin: 4px;
            border: 2px solid $border;
            border-radius: 6px;
          }
        }
      }
    }

    .sheet-header {
      border-bottom: 1px solid $border;

      .summary {
        border-top: 1px solid $border;
      }
    }

    .sheet-navigation {
      color: $text;
      font-family: "Signika", serif;
      font-size: 16px;

      .item {
        color: $inactive;
        border-bottom: 2px solid $inactive;

        &.active {
          color: $accent;
          border-bottom: 2px solid $accent;
          text-shadow: none;

          &:hover {
            color: $accentTertiary;
            border-color: $accentTertiary;
            text-shadow: 0 0 4px $glow;
          }
        }

        &:hover {
          color: $accentTertiary;
          border-bottom: 2px solid $accentTertiary;
          text-shadow: 0 0 4px $glow;
        }
      }

      &.item {
        .effect-header {
          border: 1px solid $border;
        }
      }
    }

    .window-content {
      color: $text;
      background: $content;
      border: 1px solid transparent;
    }

    &.actor {
      h4.box-title {
        border-bottom: 1px solid $border;
        color: $textTertiary;
      }

      ul.skills-list {
        border: 1px solid $borderTertiary;

        li.skill {
          .skill-passive {
            color: $inactive;
          }
        }
      }

      ul.attributes {
        li.attribute {
          border: 1px solid $borderTertiary;

          .attribute-value > * {
            color: $text;
          }

          .attribute-footer {
            color: $textSecondary;
          }
        }
      }

      span {
        .sep {
          color: $inactive;
        }
      }

      .ability-scores {
        border-top: 1px solid $borderTertiary;
        border-left: 1px solid $borderTertiary;
        border-right: 1px solid $borderTertiary;
        border-bottom: 1px solid $borderTertiary;

        .ability {
          border-bottom: 1px solid $borderTertiary;

          .ability-modifiers {
            border-right: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;

            span.ability-save,
            span.ability-mod {
              border-top: 1px solid $borderTertiary;
            }

            span.ability-mod {
              border-right: 1px solid $borderTertiary;
            }

            span.ability-save {
              border-left: 1px solid $borderTertiary;
            }
          }
        }
      }

      .counters {
        border-bottom: 1px solid $border;

        .counter h4 {
          color: $textTertiary;
        }
      }

      .inventory {
        &-list {
          .item-detail {
            border-right: 1px solid $border;
          }

          .item-weight {
            border-left: 1px solid $border;
            border-left: 1px solid $border;
          }
        }
      }

      .proficient {
        color: $textTertiary;

        .proficiency-toggle {
          color: $accent;
        }
      }

      .sheet-header {
        .summary {
          border-bottom: 1px solid $border;

          li {
            border-right: 1px solid $borderTertiary;
          }
        }

        .attributes {
          .attribute {
            border-right: 1px solid $borderTertiary;
          }
        }
      }

      .spell {
        &-slots,
        &-school,
        &-action,
        &-target {
          border-right: 1px solid $borderTertiary;
        }
      }

      .traits {
        i.fas:hover {
          color: $accent;
          text-shadow: 0 0 10px $accentTertiary;
        }
      }

      /* .dnd5e.sheet.actor.character */
      &.character {
        min-height: 690px;

        /* Biography and Descriptors */
        .characteristics {
          label {
            font-family: "Signika", serif;
          }

          textarea {
            @include thinBorder($borderTertiary);
          }
        }

        .sheet-header {
          img.profile {
            border: 1px solid $borderTertiary;
            border-radius: 3px;
            margin: 5px;
          }

          .attributes {
            a.rest {
              @include thinBorder($accent);
            }
          }

          .xpbar {
            color: $textHighlight;
            background: none;
            border: 1px solid transparent;
            border-radius: 2px;

            .bar {
              background: $accentHighlight;
              border: 1px solid $contentWindow;
            }
          }
        }

        .resource {
          .attribute-value {
            label.recharge {
              color: $textSecondary;
            }
          }
        }

        .inventory,
        .spellbook {
          .item-controls {
            .item-toggle {
              color: $textSecondary;

              &.active {
                color: $textDark;
              }

              &.fixed {
                color: $accent;
              }
            }
          }
        }

        .inventory {
          &-list {
            .item .item-name.rollable:hover .item-image {
              background-image: url("../assets/icons/svg/dice-d20-solid.svg") !important;
              border: inherit;
            }
            .item .item-name.rollable .item-image:hover {
              background-image: url("../assets/icons/svg/dice-d20-solid-alt.svg") !important;
              border: inherit;
            }

            .item.detail {
              border-right: 1px solid $border;
            }

            .item-weight {
              border-left: 1px solid $border;
              border-left: 1px solid $border;
            }
          }

          &-filters {
            .currency {
              input[type="text"] {
                border-bottom: 2px solid $border;
              }
            }

            .flexrow {
              border: none;
            }
          }
        }
      }

      &.item .effect-header {
        border: 1px solid $border;
        border-radius: 2px;
      }

      &.inventory {
        &-list {
          .item-detail {
            border-right: 1px solid $border;
          }
        }

        .item {
          &-filters.flexrow {
            border: none;
          }
        }

        select {
          background: $content;
          border: 1px solid $accent;
          border-radius: 2px;
        }
      }

      /* Select aka Dropdown Boxes */
      .form-group .form-fields,
      select {
        color: $text;
        background: transparent;
        border: 1px solid $accent;
        border-radius: 2px;
      }

      input {
        &[type="text"],
        &[type="number"] {
          color: $text;
          border: 1px solid transparent;
          border-radius: 2px;

          &:focus {
            box-shadow: $glow;
          }
        }
      }

      &.sheet .item-buttons {
        padding: 0;
        color: $text;
        border: 1px solid $border;
        border-radius: 2px;
      }
    }
  }
}
