@import '../helpers/variables';

/* Monk's Token Bar */
// TODO: The actual token bar lol
.monks-tokenbar .sheet .items-list .item-list .item .item-name {
  color: $textSecondary;
}

#requestsavingthrow .request-grid div,
.monks-tokenbar .sheet .items-list .item-list .item {
  color: $textSecondary;
}

#requestsavingthrow .request-header {
  background: $border;
  border: 2px solid $border;
  box-shadow: none;
}

.monks-tokenbar {
  &.chat-card {
    .flexrow {
      color: $textSecondary;
      font-family: 'Signika', serif;
      font-weight: bold;
      font-size: 16px;
    }

    .form-group.sheet.actor
      .items-list.inventory-list
      .item-list
      .item.flexrow {
      border: none;
    }
  }

  .sheet .items-list .item {
    border: none;
  }

  &.chat-card {
    .card-footer {
      border: none;

      span {
        border: none;
      }
    }

    .card-header {
      color: $textSecondary;
      background: none;
      border: none;
      font-family: 'Signika', serif;
    }
  }

  .sheet .items-list .items-header h3 {
    color: $textSecondary;
    background: none;
    border: none;
    font-family: 'Signika', serif;
  }
}

.chat-message .message-content .form-group.sheet.actor .items-header {
  color: $textSecondary;
  background: none;
  border: none;
  font-family: 'Signika', serif;
}

.monks-tokenbar {
  &.chat-card {
    .form-group.sheet.actor
      .items-list.inventory-list
      .item-list
      .dice-roll
      .item-row
      .item-name {
      color: $textSecondary;
      background: none;
      border: none;
      font-family: 'Signika', serif;
    }

    .card-header h3,
    .message-content .items-header .item-name {
      color: $textSecondary;
      font-family: 'Signika', serif;
      font-weight: bold;
      font-size: 14px;

      &:hover {
        color: $textSecondary;
        text-shadow: $glow;
        box-shadow: none;
      }
    }

    .card-footer button {
      color: $textSecondary;
      background: none;
      border: none;
    }
  }

  .sheet .items-list .items-header {
    color: $textSecondary;
    font-family: 'Signika', serif;
    background: none;
    border: none;
  }
}

#requestsavingthrow .request-grid > div {
  &.selected,
  &:hover {
    color: $text;
    background: $content;
    border: $accent;
    border-radius: 6px;
    box-shadow: 0 0 10px $accent;
  }
}
