@use '../variables' as *;

/* Global stylings */

body {
  h1, h2 {
    border-bottom: 1px solid $purpleLight;
  }

  hr {
    border-top: 1 px solid $pink;
    border-bottom: 1 px solid $pink;
  }

  .sheet {
    nav.sheet-tabs {
      border-top: none;
      border-bottom: none;
    }
    header.sheet-header img {
      border: none;
    }
  }
  fieldset {
    border: 1px solid $purpleLight;
  }

  textarea {
    background: $bg_content;
    border: 1px solid $purpleLight;
    color: $text-color;
    margin-bottom: 1px;
  }

  .window-app {
    .window-content {
      background: $black;
      color: $text-color;

      > * {
        background: transparent;
        color: $text-color;
      }
    }

    .window-header {
      background: $black;
      border-radius: 6px;
      border: 1px solid transparent;
    }

    .dialogue {
      background: $bg_content;
      border-radius: 6px;
      border: none;
      text-shadow: 0 0 10px rgba(0 0 0 / 50%);
    }
  }

  .dnd5e {
    .window-content {
      color: $text-color;
      background: $bg_window-content;
      border: 1px solid $purpleLight;
      border-radius: 6px;
    }

    .form-group label {
      color: $whiteSecondary;
    }
  }

  textarea:focus {
        border-width: 2px;
        box-shadow: none;
  }

  #sidebar {
    background: linear-gradient(0deg, $bg_window-content 0%, hsla(230, 15%, 15%, 50%) 75%, hsla(230, 15%, 15%, 5%) 100%);
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0 0 1px $purple-transparent inset;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 0;
    background: $pink;
  }

  :root {
    scrollbar-width: thin;
    scrollbar-color: $pink $pink;
  }

  button, form button {
    --shadow-color:246deg 23% 6%;
    color: $whiteSecondary;
    background: $bg_content;
    font-size: 14px;
    border: 1px solid $purple;
    border-radius: 2px;
    margin-left: 2px;
    box-shadow: 0 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
                0 0.2px 0.2px -1.2px hsl(var(--shadow-color) / 0.34),
                0 0.6px 0.7px -2.5px hsl(var(--shadow-color) / 0.34);
    text-shadow: 0 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
                0 0.9px 1px -0.4px hsl(var(--shadow-color) / 0.34),
                0.1px 1.6px 1.8px -0.7px hsl(var(--shadow-color) / 0.34),
                0.1px 2.7px 3px -1.1px hsl(var(--shadow-color) / 0.34),
                0.2px 4.3px 4.8px -1.4px hsl(var(--shadow-color) / 0.34),
                0.3px 6.7px 7.5px -1.8px hsl(var(--shadow-color) / 0.34),
                0.5px 10.2px 11.5px -2.1px hsl(var(--shadow-color) / 0.34),
                0.7px 15px 16.9px -2.5px hsl(var(--shadow-color) / 0.34);
      &:hover, &focus {
        border-width: 2px;
      }
  }

  .dialog .dialog-buttons button {
    --shadow-color:246deg 23% 6%;
    color: $whiteSecondary;
    background: $bg_content;
    font-size: 14px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient($gradientDegree, $purple 0%, $red 100%);
    margin-left: 2px;
    box-shadow: 0 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
                0 0.2px 0.2px -1.2px hsl(var(--shadow-color) / 0.34),
                0 0.6px 0.7px -2.5px hsl(var(--shadow-color) / 0.34);
    text-shadow:  0 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
                  0 0.9px 1px -0.4px hsl(var(--shadow-color) / 0.34),
                  0.1px 1.6px 1.8px -0.7px hsl(var(--shadow-color) / 0.34),
                  0.1px 2.7px 3px -1.1px hsl(var(--shadow-color) / 0.34),
                  0.2px 4.3px 4.8px -1.4px hsl(var(--shadow-color) / 0.34),
                  0.3px 6.7px 7.5px -1.8px hsl(var(--shadow-color) / 0.34),
                  0.5px 10.2px 11.5px -2.1px hsl(var(--shadow-color) / 0.34),
                  0.7px 15px 16.9px -2.5px hsl(var(--shadow-color) / 0.34);

    &.default {
      --shadow-color:246deg 23% 6%;
      color: $whiteSecondary;
      background: $bg_content;
      font-size: 14px;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $purple 0%, $red 100%);
      margin-left: 2px;
      box-shadow: 0 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
                  0 0.2px 0.2px -1.2px hsl(var(--shadow-color) / 0.34),
                  0 0.6px 0.7px -2.5px hsl(var(--shadow-color) / 0.34);
      text-shadow:  0 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
                    0 0.9px 1px -0.4px hsl(var(--shadow-color) / 0.34),
                    0.1px 1.6px 1.8px -0.7px hsl(var(--shadow-color) / 0.34),
                    0.1px 2.7px 3px -1.1px hsl(var(--shadow-color) / 0.34),
                    0.2px 4.3px 4.8px -1.4px hsl(var(--shadow-color) / 0.34),
                    0.3px 6.7px 7.5px -1.8px hsl(var(--shadow-color) / 0.34),
                    0.5px 10.2px 11.5px -2.1px hsl(var(--shadow-color) / 0.34),
                    0.7px 15px 16.9px -2.5px hsl(var(--shadow-color) / 0.34);
    }
  }

  button {
    &:hover, &:focus {
      border-width: 2px;
      box-shadow: none;
    }
  }

  input:focus, select:focus {
    border-width: 2px;
    box-shadow: none;
  }

  input {
    &[type="text"]:focus, &[type="number"]:focus, &[type="password"]:focus, &[type="date"]:focus, &[type="time"]:focus {
      background: $bg_content;
      border-width: 2px;
      box-shadow: none;
    }
    &[type="color"][data-edit][data-edit] {
      appearance: auto;
      background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
      color: -internal-light-dark(black, white);
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    }
    &:placeholder {
      color: $disabled;
      text-shadow: 0 0 10px rgba(0 0 0 / 90%);
    }

  }

  a {
    &.entity-link, &.content-link, &.inline-roll {
      color: $whiteSecondary;
      background: transparent;
      border: 1px solid $red;
      border-radius: 2px;    }

    &.entity-link:hover, &.content-link:hover, &.inline-roll:hover {
      color: $red;
      box-shadow: none;
    }

    &.entity-link i, &.content-link i, &.inline-roll i {
      color: $disabled;
    }
  }

  table {
    border-top: none;
    border-bottom: none;
    text-shadow: none;
    font-size: 12px;

    thead {
      background: $blackLight;
      border-bottom: none;
    }
  }

  input {
    &[type="text"], &[type="number"], &[type="password"], &[type="date"], &[type="time"], &[type="text"].color, &[type="color"][data-edit] {
      color: $whiteSecondary;
      background: $blackLight;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $purple 0%, $red 100%);
      box-shadow: none;
      transition: 0.3s ease-in-out all;
    }

    &[type="range"] + .range-value {
      color: $whiteSecondary;
      background: $purpleLight;
      border: 1px solid $purpleLight;
      border-radius: 2px;      box-shadow: none;
      transition: 0.3s ease-in-out all;
    }
  }

  .directory .directory-header .header-search input {
    background: $bg_content;
    color: $whiteSecondary;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient($gradientDegree, $purple 0%, $cyan 100%);
    box-shadow: none;
    transition: 0.3s ease-in-out all;
      &:focus {
        border-width: 2px;
      }
  }

  input {
    &[type=range]::-webkit-slider-thumb {
      height: 12px;
      width: 12px;
      border: 1px solid $blackLight;
      border-radius: 0px;
      background: linear-gradient($gradientDegree, $red 0%, $pink 100%);
      cursor: pointer;
      box-shadow: none;
    }

    &[type="checkbox"] {
      background: $purpleLight;
      color: $purple;
    }

    &[type="radio"] {
      background: $purpleLight;
      color: $purple;
    }
  }

  #module-management input[type="checkbox"] {
    background: $purpleLight;
    color: $purple;
  }

  select {
    color: $whiteSecondary;
    background: $black;
    border: 1px solid $purple;
    border-radius: 2px;
    transition: 0.3s ease-in-out all;
    box-shadow: none;

    &:focus {
      border-width: 2px;
      box-shadow: none;
    }
  }

  form {
    .notes, .hint {
      color: $text-color;
    }
    .form-group .form-fields {
      border: 1px solid $purpleLight;
      border-radius: 2px;    }
    &:focus {
      border-width: 2px;
    }
  }

  .compendium.directory .directory-list .directory-item {
    border-top: none;
    border-bottom: 1px solid transparent;
  }

  #playlists .sound-control {
    &[data-action="sound-stop"], &[data-action="playlist-stop"] {
      color: $pink;
    }
  }

  #chat-log {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;  }

  #chat-controls {
    background: none;

    .roll-type-select {
      color: $whiteSecondary;
      background: $black;
      border: 1px solid transparent;
      border-radius: 2px;      padding: 2px;
    }
  }

  #chat-form textarea {
    color: $whiteSecondary;
    background: transparent;
    border: 1px solid $purpleLight;
    border-radius: 2px;  }

  &:focus {
    border-width: 2px;
  }

  .dice-tooltip .part-header .part-flavor {
    color: inherit;
    background: none;
  }

  .dice-roll .dice-total {
    background: $blackLight;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient($gradientDegree, $red 0%, $purple 100%);
    border-radius: 2px;    margin: 2px;
    box-shadow: none;
  }

  .dice-tooltip .part-header .part-total {
    border: 1px transparent;
    border-bottom: none;
    background: transparent;
    font-size: 12px;
    line-height: 25px;
    margin-right: 5px;
  }

  .chat-message {
    .table-draw .table-description {
      border-top: 1px solid $whiteLight;
      color: $disabled;
    }
    .dice-result .dice-tooltip .dice .part-header.flexrow {
      color: inherit;
      border: 1px solid $red;
      box-shadow: none;
      margin: 2px;
      text-shadow: 0 0 10px rgba(0 0 0 / 90%);
    }
  }

  .dice-roll {
    .dice-formula {
      color: inherit;
      background: $blackLight;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $purple 0%, $red 100%);
      text-shadow: 0 0 10px rgba(0 0 0 / 90%);
      box-shadow: 0 0 10px rgba(0 0 0 / 90%);
      margin: 2px;
    }
    .dice-formula:hover, .dice-total:hover {
      border-width: 2px;
      box-shadow: 0 0 4px $purpleLight;
      cursor: pointer;
    }
  }

  .dice-tooltip .part-header {
    color: inherit;
    border: none;
    box-shadow: none;

    .part-formula {
      margin-left: 6px;
      margin-top: 1px;
    }
  }

  .chat-message {
    .message-content .dice-tooltip .dice-rolls .roll {
      --shadow-color: 246deg 23% 6%;
      color: hsl(60, 30%, 100%);
      background: transparent;
      font-size: 14px;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $red 0%, $pink 100%);
      border-radius: 2px;
      margin-left: 2px;
      box-shadow:
        0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
        0px 0.2px 0.2px -1.2px hsl(var(--shadow-color) / 0.34),
        0px 0.6px 0.7px -2.5px hsl(var(--shadow-color) / 0.34);
      text-shadow:
        0px 0.1px 0.1px hsl(var(--shadow-color) / 0.34),
        0px 0.9px 1px -0.4px hsl(var(--shadow-color) / 0.34),
        0.1px 1.6px 1.8px -0.7px hsl(var(--shadow-color) / 0.34),
        0.1px 2.7px 3px -1.1px hsl(var(--shadow-color) / 0.34),
        0.2px 4.3px 4.8px -1.4px hsl(var(--shadow-color) / 0.34),
        0.3px 6.7px 7.5px -1.8px hsl(var(--shadow-color) / 0.34),
        0.5px 10.2px 11.5px -2.1px hsl(var(--shadow-color) / 0.34),
        0.7px 15px 16.9px -2.5px hsl(var(--shadow-color) / 0.34);
    }

    .dice-result {
      color: $whiteSecondary;
    }
  }

  .dice-roll .dice-total {
    &.success {
      color: inherit;
      background: inherit;
      border: 1px solid $green;
    }

    &.failure {
      color: inherit;
      background: inherit;
      border: 1px solid $orange;
    }

    &.critical {
      color: $green;
      text-shadow: 0 0 10px rgba(0 0 0 / 90%);
    }

    &.fumble {
      color: $orange;
      text-shadow: 0 0 10px rgba(0 0 0 / 50%);
    }
  }

/* This will restyle most chat cards */
  .chat-message {
    background: $bg_content;
    color: $whiteSecondary;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient($gradientDegree, $purple 0%, $red 100%);
    transition: max-height 0.3s ease-in-out;

    &.whisper {
      background: $bg_content;
      color: $whiteSecondary;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $purple 0%, $yellow 100%);
      transition: max-height 0.3s ease-in-out;
    }

     &.blind {
       background: $bg_content;
       color: $whiteSecondary;
       border: 1px solid;
       border-image-slice: 1;
       border-image-source: linear-gradient($gradientDegree, $purple 0%, $green 100%);
       transition: max-height 0.3s ease-in-out;
     }

      &.blind {
        background: $bg_content;
        color: $whiteSecondary;
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient($gradientDegree, $purple 0%, $cyan 100%);
        transition: max-height 0.3s ease-in-out;
      }

    .message-header, .message-metadata {
      color: $whiteSecondary;
      text-shadow: none;
    }

    .message-content {
      color: $whiteSecondary;
      border: none;
      margin: 1px;

      .form-group.sheet.actor .items-list {
        color: $whiteSecondary;
        border: none;
        margin: 1px;
      }
    }
  }

  #module-management .package-list {
    .package-title, .package-metadata, .package-description {
      color: hsla(60, 30%, 100%, 80%);
    }
  }

  #client-settings {
    section.content h2.module-header, &.app.window-app.form #config-tabs .settings-list h2.module-header span {
      color: hsla(60, 30%, 100%, 80%);
      border-bottom: none;
    }

    &#config-tabs div.tab[data-tab="modules"] #searchField #searchInput {
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient($gradientDegree, $purple 0%, $cyan 100%);
      &:focus {
          border-width: 2px;
          box-shadow: none;
        }
      }

  }

  .roll-table-config ol.table-results {
    .table-header {
      border: none;
    }
    .table-result .result-controls .lock-result {
      color: $whiteSecondary;
    }
    .table-result.drawn .lock-result {
      color: $disabled;
    }
  }



  #module-management .package-list {
    border-top: none;
    border-bottom: none;
  }

  nav.list-filters a.filter {
    color: $disabled;
    border-bottom: 1px solid $disabled;
    text-shadow: none;
    transition: all .2s ease-in-out;

    &:hover {
      color: $white;
      border-bottom: 1px solid $disabled;
      box-shadow: none;
      transition: color .2s ease-in-out;
    }

    &.active {
      color: $red;
      border-bottom: 1px solid $red;
      box-shadow: none;
      transition: all .2s ease-in-out;
    }
  }

  #module-management .package-list .package {
    border-bottom: 1px solid $purpleLight;
  }

  #settings h2 {
    border-bottom: none;
    border-top: none;
    color: $whiteSecondary;
    background: none;
  }

  #permissions-config .hint {
    color: $disabled;
  }

  p.hint {
    color: $whiteSecondary;
  }

  #permissions-config {
    header.table-header {
      background: none;
      border: 1px solid $purpleLight;
      border-radius: 2px;      padding-bottom: 4px;
    }

    li.permission {
      border-bottom: 1px solid $purpleLight;
    }
  }
}
