@use "../variables" as *;

:root {
  scrollbar-width: thin;
  scrollbar-color: #{$accentTertiary};
}

// Scrollbar
::-webkit-scrollbar {
  @include thinBorder(transparent);
  background: transparent;
  width: 6px;
  height: 6px;

  &-track {
    box-shadow: 0 0 6px $glow inset;
    border-radius: 4px;
  }

  &-thumb {
    outline: none;
    border-radius: 0;
    background: linear-gradient(
      0deg,
      $accentTertiary 0%,
      $accentSecondary 100%
    );
  }
}

/* Global Text Styles */
/* Headings */
h1,
h2,
h3,
h3,
footer {
  border-width: 1px;
  border-color: $border;

  &.nue {
    border-color: $border;
  }
}

h4 {
  color: $text;
}

hr {
  border-top: 1px solid $accent;
  border-bottom: 1px solid transparent;
}

/* Paragraph */
p {
  color: $text;
  text-shadow: none;
  box-shadow: none;
}

/* Anchor */
a {
  &.content-link,
  &.entity-link,
  &.inline-roll {
    color: $textSecondary;
    background: transparent;
    border: 1px solid $accentSecondary;
  }

  &.content-link:hover,
  &.entity-link:hover,
  &.inline-roll:hover {
    text-shadow: 0 0 4px $accentSecondary;
    box-shadow: none;
  }

  &.content-link i,
  &.entity-link i,
  &.inline-roll i {
    color: $inactive;
  }
}

/* Most input forms */
input {
  box-shadow: none;
  text-shadow: none;

  &:focus {
    box-shadow: none;
    text-shadow: none;
  }

  &[type="text"],
  &[type="number"],
  &[type="password"],
  &[type="date"],
  &[type="time"],
  &[type="text"].color,
  &[type="color"][data-edit] {
    @include thinBorder($accent);
    color: $textSecondary;
    background: $border;
    box-shadow: none;
    transition: 0.3s ease-in-out all;
  }

  &[type="text"]:focus,
  &[type="number"]:focus,
  &[type="password"]:focus,
  &[type="date"]:focus,
  &[type="time"]:focus {
    background: $border;
    border-width: 2px;
    box-shadow: none;
  }

  &[type="range"] + .range-value {
    @include thinBorder($accent);
    color: $textSecondary;
    background: $border;
    box-shadow: none;
    margin: 2px;
    transition: 0.3s ease-in-out all;
  }

  &[type="range"]::-webkit-slider-thumb {
    background: linear-gradient(
      $gradientDegree,
      $accentTertiary,
      $accentSecondary
    );
    height: 12px;
    width: 12px;
    cursor: pointer;
    box-shadow: none;
  }

  &[type="checkbox"],
  &[type="radio"] {
    background: $accent;
    color: $text;
  }

  &[type="color"][data-edit][data-edit],
  &[type="color"i] {
    appearance: auto;
    background-color: transparent;
    color: $text;
    border-color: $contentWindow;
  }

  &::placeholder {
    color: $inactive;
    text-shadow: 0 0 10px $glow;
  }
}

/* Tables */
table {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-shadow: none;
  font-size: 12px;

  thead {
    background: $border;
    border-bottom: none;
  }
}

/* Select (drop-down boxes) */
select {
  color: $textSecondary;
  background: $content;
  border: 1px solid $accent;
  border-radius: 2px;
  box-shadow: none;
  margin: 2px;
  transition: 0.3s ease-in-out all;

  &:focus {
    border-width: 2px;
    box-shadow: none;
  }
}

/* Forms */
form {
  .hint,
  .notes {
    color: $textSecondary;
    box-shadow: none;
    text-shadow: none;
  }

  &-group {
    .form-fields {
      border: 1px solid $border;
      border-radius: 2px;
      background: $contentWindow;
      color: $textSecondary;

      &:focus {
        border-width: 2px;
      }
    }

    .form-fields > *:last-child {
      border: 1px solid $border;
      border-radius: 2px;
      background: $contentWindow;
      color: $textSecondary;
    }
  }
}

fieldset {
  border: 1px solid transparent;
}

textarea {
  border: 1px solid $borderSecondary;
  background: $content;
  color: $text;

  &:focus {
    border-width: 2px;
    box-shadow: none;
  }
}

/* Buttons */
button,
form button {
  @include thinBorder($accent);
  @include lightToDark($content);
  @include heavyShadow;

  color: $text;
  border-radius: 1px;
  margin: 0 0 0.125rem 0;

  &:hover {
    @include hoverRaise;
  }
}

/* Colour Pickers */
.picker_wrapper {
  background: $content;
  color: $text;

  .button {
    background: $content;
    border: 1px solid $borderSecondary;
    color: $text;
  }
}

/* Window pop-up buttons
Separated if I want these buttons to be styled differently */
.dialog .dialog-buttons button {
  @include thinBorder($accent);
  @include lightToDark($content);
  @include heavyShadow;
  font-size: 14px;

  &.default {
    @include thinBorder($accent);
    @include lightToDark($content);
    @include heavyShadow;
    font-size: 14px;
  }

  &:focus,
  &:hover {
    @include hoverRaise;
    box-shadow: none;
  }
}

.app {
  color: $textSecondary;
  background: $content;
}

.sheet {
  nav.sheet-tabs {
    border-top: none;
    border-bottom: none;
  }

  header.sheet-header img {
    border: none;
  }
}

// Window Styles
.window-app {
  backdrop-filter: $filterBackdrop;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .window-content {
    background: $content;
    color: $text;
    border-radius: 0 0 3px 3px;

    > * {
      background: transparent;
      color: $text;
    }
  }

  .window-header {
    border-radius: 6px 6px 0 0;
    background: $content;
    border: 1px solid transparent;
  }

  .dialogue {
    background: $content;
    border-radius: 6px;
    border: none;
    text-shadow: 0 0 10px rgba(0 0 0 / 50%);
  }
}

// Navigation (Top bar)
#navigation {
  #nav-toggle {
    &:hover {
      text-shadow: 0 0 4px $glow;
    }
  }

  #scene-list {
    .nav-item {
      border: 1px solid $border;
      border-radius: 1px;
      background: $content;
    }

    .scene {
      &.gm {
        @include thinBorder($accent);
        background: $content;
      }

      &.view,
      &.view.gm {
        @include gradientBorder($accentSecondary, $accentTertiary);
        background: $content;
        box-shadow: inset 0 0 0.1px 0.25px $accentTertiary;
      }

      &-context {
        @include thinBorder($accent);
        background: $content;
      }
    }
  }
}

// Controls/Tools Sidebar (Left Sidebar)
#controls {
  .control-tool {
    @include heavyShadow;
  }

  ol {
    .scene-control {
      @include heavyShadow;
      @include gradientBorder($accentSecondary, $accentTertiary);
      background: $content;
      filter: opacity(75%);

      &.active {
        @include heavyShadow;
        @include gradientBorder($accentSecondary, $accentTertiary);
        border-radius: 1px;
        filter: none;
      }

      &:hover {
        @include heavyShadow;
        @include gradientBorder($accentSecondary, $accentTertiary);
        border-radius: 1px;
        filter: none;
      }
    }

    &.sub-controls {
      .control-tool {
        @include heavyShadow;
        @include gradientBorder($accentSecondary, $accentTertiary);
        filter: opacity(75%);
        background: $content;

        &.toggle {
          @include heavyShadow;
          @include gradientBorder($accent, $borderCyan);

          &.active {
            @include toolsShadow;
            @include gradientBorder($accent, $borderCyan);
            background: linear-gradient(
              $gradientDegree,
              $accent 0%,
              $accentHighlight 100%
            );
            --shadow-color: 171deg 61% 33%;
            filter: none;
          }

          &:hover {
            @include toolsShadow;
            @include gradientBorder($accent, $borderCyan);
            background: linear-gradient(
              $gradientDegree,
              $accent 0%,
              $accentHighlight 100%
            );
            --shadow-color: 171deg 61% 33%;
            filter: none;
          }
        }

        &.active {
          @include heavyShadow;
          @include gradientBorder($accentSecondary, $accentTertiary);
          filter: none;
        }

        &:hover {
          @include heavyShadow;
          @include gradientBorder($accentSecondary, $accentTertiary);
          filter: none;
        }
      }
    }
  }
}

/* Hotbar (Bottom Center) */
#hotbar {
  #macro-list {
    @include thinBorder($border);
    border-radius: 1px;

    &.inactive {
      /* Replace later. */
      box-shadow: none;
    }
  }

  #hotbar {
    border-radius: 1px;

    &-directory-controls,
    &-page-controls {
      background: linear-gradient(
        180deg,
        hsla(235, 14%, 15%, 90%) 0%,
        hsla(230, 15%, 15%, 75%) 50%,
        hsla(230, 15%, 15%, 50%) 100%
      );
      --shadow-color: 0deg 0% 48%;
      text-shadow: 0 0.1px 0.2px hsl(var(--shadow-color) / 0),
        0 0 0.3px hsl(var(--shadow-color) / 0.18),
        0 0 0.6px hsl(var(--shadow-color) / 0.35),
        0 0 1.2px hsl(var(--shadow-color) / 0.52),
        0 0 2px hsl(var(--shadow-color) / 0.7);
    }
  }

  /* Individual macro boxes */
  .macro {
    border: 1px solid $content;
    border-radius: 1px;
    background: $content;
    backdrop-filter: $filterBackdrop;

    /* Macro boxes containing items */
    &.active {
      @include gradientBorder($accent, $inactive);

      &:hover {
        @include borderExpand($accent);
      }
    }

    /* Empty macro boxes */
    &.inactive {
      opacity: 75%;

      &:hover {
        @include borderExpand($content);
        opacity: 100%;
      }
    }

    .macro-key {
      @include heavyShadow;
      color: $text;
      background: $border;
    }
  }

  .bar-controls {
    --shadow-color: 0deg 0% 48%;
    background: $border;
    border-radius: 1px;

    text-shadow: 0 0.1px 0.2px hsl(var(--shadow-color) / 0),
      0 0 0.3px hsl(var(--shadow-color) / 0.18),
      0 0 0.6px hsl(var(--shadow-color) / 0.35),
      0 0 1.2px hsl(var(--shadow-color) / 0.52),
      0 0 2px hsl(var(--shadow-color) / 0.7);
  }
}

/* Player List (Bottom Left) */
#players {
  h3 {
    border-bottom: 1px solid $border;
  }
}

/* Main Sidebar (Right) */
#sidebar {
  background: linear-gradient(
    0deg,
    hsla(235, 14%, 15%, 0.9) 0%,
    hsla(230, 15%, 15%, 75%) 75%,
    hsla(230, 15%, 15%, 70%) 100%
  );
  backdrop-filter: $filterBackdrop;
  border: 1px solid transparent;
  --shadow-color: 232deg 22% 2%;
  box-shadow: -0.1px 0px 0.1px hsl(var(--shadow-color) / 0.14),
    -0.9px 0.1px 1px -0.3px hsl(var(--shadow-color) / 0.14),
    -1.8px 0.1px 2.1px -0.7px hsl(var(--shadow-color) / 0.15),
    -2.9px 0.2px 3.4px -1px hsl(var(--shadow-color) / 0.15),
    -4.6px 0.3px 5.3px -1.3px hsl(var(--shadow-color) / 0.15),
    -7.1px 0.4px 8.2px -1.6px hsl(var(--shadow-color) / 0.16),
    -10.7px 0.6px 12.4px -2px hsl(var(--shadow-color) / 0.16),
    -15.7px 0.9px 18.2px -2.3px hsl(var(--shadow-color) / 0.16);

  &.collapsed {
    #sidebar.tabs {
      border-bottom: 2px solid transparent;
    }
    #sidebar-tabs > .item.active {
      border-bottom: 2px solid $accent;
      border-radius: 1px;
    }
  }
  /* Sidebar Navigation Tabs */
  &-tabs {
    border: none;
    box-shadow: none;
  }

  &-tabs > .item.active {
    color: $text;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $accent;
    text-shadow: 0 0 0 4px $accent;

    &:hover {
      text-shadow: 0 0 8px $glow;
    }
  }

  &-tabs > .item {
    color: $textSecondary;
    background: transparent;
    border: none;
    text-shadow: 0 0 2px $shadow;

    &:hover {
      color: $text;
      text-shadow: 0 0 2px $glow;
    }
  }
}

/* Directory Navigation */
.directory {
  .action-buttons button {
    background: $content;
  }

  .directory-list {
    .directory-item {
      &.active,
      &.context {
        border-color: $border;
      }
    }
  }

  .directory-header .header-search input {
    @include thinBorder($accent);
    background: $content;
    color: $textSecondary;
    box-shadow: none;
    margin: 2px;
    transition: 0.3s ease-in-out all;

    &:focus {
      border-width: 2px;
    }
  }
}

/* Sidebar Chat Log */
#chat-log {
  @include thinBorder(transparent);
  background: transparent;
  border-radius: 2px;
}

// Chat Cards (will restyle most aspects)
.chat-message {
  @include gradientBorder($accent, $accentSecondary);
  background: $content;
  color: $textSecondary;
  transition: max-height 0.3s ease-in-out;

  &.whisper {
    @include gradientBorder($accent, $borderCyan);
    background: $content;
    color: $textSecondary;
    transition: max-height 0.3s ease-in-out;
  }

  &.blind {
    @include gradientBorder($accent, $accentTertiary);
    background: $content;
    color: $textSecondary;
    transition: max-height 0.3s ease-in-out;
  }

  &.emote {
    @include gradientBorder($accent, $borderYellow);
    background: $content;
    color: $textSecondary;
    transition: max-height 0.3s ease-in-out;
  }

  .message-header,
  .message-metadata {
    .message-sender {
      color: $textSecondary;
    }

    color: $textSecondary;
    text-shadow: none;
  }

  .table-draw .table-description {
    border-top: 1px solid $borderWhite;
    color: $inactive;
  }

  // Most values related to dice result boxes
  .dice-roll {
    margin: 2px;

    .dice-formula {
      @include heavyShadow;
      background: $border;
      border: 1px solid $accent;
      border-radius: 1px;

      &:hover {
        @include hoverRaise;
        cursor: pointer;
      }
    }

    // Dice total mini-boxes
    .dice-total {
      @include heavyShadow;
      background: $border;
      border: 1px solid $accent;
      border-radius: 1px;
      font-size: 14px;

      &:hover {
        @include hoverRaise;
        cursor: pointer;
      }

      /* For the small square boxes */
      &.success {
        @include gradientBorder($success, $successSecondary);
        color: inherit;
        background: $content;
      }

      &.failure {
        @include gradientBorder($failureSecondary, $failure);
        color: inherit;
        background: $content;
      }

      /* For the large result box */
      &.critical {
        @include gradientText($success, $successSecondary);
        @include gradientBorder($success, $successSecondary);
      }

      &.fumble {
        @include gradientText($failure, $failureSecondary);
        @include gradientBorder($failure, $failureSecondary);
      }
    }

    // Detailed attack formula + damage buttons
    .dice-result {
      .dice-tooltip .dice {
        .part-header.flexrow {
          @include gradientBorder($accent, $inactive);
          background: $border;

          .part-total {
            border: none;
            background: transparent;
            font-size: 12px;
            margin-right: 5px;
            margin-top: 1px;
          }

          .part-formula {
            margin-left: 6px;
          }

          .part-flavor {
            color: inherit;
            background: none;
            border: 1px solid transparent;
          }
        }

        &-rolls {
          margin: 0.3em;
          padding-top: 2px;
        }

        .roll {
          @include gradientBorder($accent, $inactive);
          @include heavyShadow;
          color: $text;
          background: transparent;
          font-size: 14px;
          margin: 2px;

          &:hover {
            @include hoverRaise;
          }

          &.failure,
          &.min {
            @include gradientBorder($failure, $failureSecondary);
            @include gradientText($failure, $failureSecondary);
            filter: none;
          }

          &.max,
          &.success {
            @include gradientBorder($success, $successSecondary);
            @include gradientText($success, $successSecondary);
            filter: none;
          }

          .dice-result {
            color: $textSecondary;
          }
        }
      }
    }
  }

  .message-content {
    color: $textSecondary;
    border: none;
    margin: 2px;

    .form-group.sheet.actor .items-list {
      color: $textSecondary;
      border: none;
      margin: 1px;
    }
  }
}

// Chat Menu
#chat-controls {
  background: none;

  .roll-type-select {
    @include lightToDark($content);
    @include thinBorder(transparent);
    border-radius: 2px;
    padding: 2px;
  }
}

/* Input area (form) for chat menu */
#chat-form textarea {
  @include thinBorder($accent);
  color: $textSecondary;
  background: transparent;

  &:focus {
    border-width: 2px;
  }
}

// Combat Tracker
#combat {
  #combat-round {
    border-bottom: 2px solid transparent;
  }

  li.combatant {
    &.active {
      background: $content;
    }
  }

  #combat-controls {
    border-top: 2px solid $border;
  }
}

// Default text editor for journals
.tinymce .mce-content-body {
  color: $textSecondary;
}

// Roll tables
.roll-table-config ol.table-results {
  .table-header {
    border: none;
  }

  .table-result .result-controls .lock-result {
    color: $textSecondary;
  }

  .table-result.drawn .lock-result {
    color: $inactive;
  }
}

// Sound Menu
#playlists {
  .sound-control {
    &[data-action="sound-stop"],
    &[data-action="playlist-stop"] {
      color: $accentTertiary;
    }
  }
}

// Compendium Submenu
.compendium.directory .directory-list .directory-item {
  border-top: none;
  border-bottom: 1px solid transparent;
}

/* Foundry Settings */
#client-settings {
  section.content {
    .settings-list {
      border-top: 1px solid transparent;
    }
  }
  h2.module-header,
  &.app.window-app.form #config-tabs .settings-list h2.module-header span {
    color: $text;
    background: transparent;
    padding-left: 4px;
  }
  h2.module-header {
    border-bottom: 1px solid $accent;
  }

  nav.tabs {
    border-bottom: 1px solid $border;

    &:focus {
      text-shadow: 0 0 4px $accentSecondary;
    }
  }

  &#config-tabs div.tab[data-tab="modules"] #searchField #searchInput {
    @include thinBorder($accent);
    margin: 2px;
    cursor: text;

    &:focus {
      border-width: 2px;
      box-shadow: none;
      cursor: text;
    }
  }
}

#settings {
  h2 {
    border-bottom: none;
    border-top: none;
    color: $textSecondary;
    background: none;
  }
}

#permissions-config {
  header.table-header {
    background: none;
    border: 1px solid $borderSecondary;
    border-radius: 2px;
    padding-bottom: 4px;
  }

  li.permission {
    border-bottom: 1px solid $borderSecondary;
  }

  p {
    &.hint {
      color: $textSecondary;
    }
  }

  .hint {
    color: $inactive;
  }
}

/* Module Management Menu */
#module-management {
  /* WIP doesn't seem to affect anything */
  input[type="checkbox"] {
    background: $borderSecondary;
    color: $accent;
  }

  button {
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
  .package-list {
    border-top: 1px solid $border;
    .package {
      border-bottom: 1px solid $borderTertiary;
      &-description,
      &-metadata,
      &-title {
        color: $text;
      }
    }
  }
}

// Navigation tabs for module management
nav.list-filters a.filter {
  color: $inactive;
  border-bottom: 1px solid $inactive;
  text-shadow: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $text;
    border-bottom: 1px solid $inactive;
    box-shadow: none;
    transition: color 0.2s ease-in-out;
  }

  &.active {
    color: $accent;
    border-bottom: 1px solid $accent;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
  }
}

/* Filepicker */
.filepicker {
  .display-modes {
    a {
      background: $content;
      border-color: $border;
    }
  }
}

/* Keybindings Menu */
#keybindings {
  .filters h3 {
    border-bottom: 1px solid transparent;
  }

  .action {
    border-bottom: 1px solid transparent;
  }

  .category {
    .category-header {
      border-bottom: 1px solid transparent;
    }
  }
}
