@use "../variables" as *;

/* TODO: Change name hover background
** TODO: Refactor for cleanliness
** TODO: Annotate sections */

#combat-carousel {
  &.wrapper {
    position: fixed;
    font-family: "Roboto", sans-serif;

    min-width: 210px;

    min-height: 170px;
    margin: 0;
    padding: unset;
    box-shadow: none;
    border: none;
  }

  .splide__slide {
    &.token-hover-neutral,
    &.token-hover-friendly {
      border: 1px solid $accent;
    }

    &.token-hover-hostile {
      border: 1px solid $failure;
    }

    &:hover {
      &.name {
        background: rgba(65, 75, 85, 0.5);
        border: 1px solid transparent;
      }
      &:not(.combat-round) {
        margin: 39px 10px 15px 10px;
        transform: scale(1.2);
        height: 168px;
      }
    }
  }

  .name {
    background: transparent;
    border: 1px solid $border;
    &:hover .button-tray {
      background: rgba(65, 75, 85, 0.5);

      display: flex;
      padding: 0 10px;
    }

    .button-tray {
      background: rgba(65, 75, 85, 0.5);
      display: none;
      margin: 2px;
      text-align: center;
    }
  }

  .splide__slide:hover .fa-dice-d20 {
    color: $accent;
    text-shadow:rgb(0 0 0 / 70%)
  }

  a.combatant-control {
    color: #f0f0e0;
    border-radius: 3px;

    &.active {
      color: #f0f0e0;
    }
  }

  .splide__slide:hover footer {
    display: flex;
  }

  .is-active-combatant.card {
    /* clip-path: polygon(0px -21px, 100% -21px, 100% 95%, 50% 100%, 0px 95%); */
    backdrop-filter: $filterBackdrop;
    border-radius: 3px;
    border: 1px solid $accentHighlight;
    clip-path: none;
  }

  .fa-dice-d20:hover {
    animation: spin 0.3s linear;
  }

  .combat-controls {
    display: none;
  }

  &:hover .combat-controls {
    display: block;
  }

  .combat-controls .previous,
  .splide__arrow--prev {
    left: 0;
    border: 1px solid transparent;
  }

  .combat-controls .next,
  .splide__arrow--next {
    right: 0;
    border: 1px solid transparent;
  }

  .combat-controls a {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid transparent;
    background: transparent;
    font-size: large;
    color: $text;

    &.round {
      top: calc(50% + 50px);
    }

    &.turn {
      top: calc(50% + 15px);
    }
  }

  .splide {
    height: 95%;
  }

  .splide__slider {
    height: 100%;
    padding: 0 55px;
  }

  .splide__track {
    height: 100%;
    padding-top: 5px;
  }

  .splide__list {
    height: 100%;
  }

  .splide__arrow {
    top: calc(50% + 30px);
    border-radius: 2%;
    background-color: transparent;

    svg {
      fill: #f0f0e0;
    }
  }

  .combat-carousel-pagination {
    display: none;

    &.visible {
      display: flex;
    }
  }

  .carousel-icon {
    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      border: 1px solid transparent;
      box-shadow: #414b55e6;
    }
  }

  .encounter-info {
    display: none;
    position: absolute;
    right: 2px;
    top: 2px;
    color: $text;
    background: transparent;

    .icon {
      text-align: center;
      flex: 0 0 30%;
    }

    &.visible {
      display: block;
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .encounter-controls {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;

    /* right: 0;
    top: 25%; */
    width: 50px;
    height: 65px;
    text-align: center;
    color: $text;

    /* backdrop-filter: $filterBackdrop;
    background: transparent; */
    padding: 2px;
  }

  &:hover .encounter-controls {
    display: flex;
    flex-wrap: wrap;
  }

  .encounter-controls .encounter-control {
    flex: 0 0 40%;
    margin: 2px;
  }

  .encounter-info {
    a.encounter-control {
      display: none;
      text-align: center;
      flex: 0;
    }

    &:hover .encounter-control {
      display: flex;
    }
  }

  a.encounter-control.create-remove {
    display: flex;
    margin-left: 5px;
  }

  .encounter-info {
    .flexrow {
      align-items: center;
      min-width: 50px;
    }

    .round {
      /* padding-left: 5.25px; */
    }

    span {
      /* max-width: fit-content; */
    }

    i.fas {
      flex: 0;
      text-align: center;
    }

    .counter {
      text-align: center;
    }
  }

  .initiative-control {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 56px;

    /* padding: 0px 4px; */
    color: #f0f0f0;
    background: transparent;
    border: 1px solid transparent;
    text-shadow:rgba(0 0 0 / 90%);
  }

  &:hover .initiative-control {
    display: flex;
  }

  .initiative-control a {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2px;
  }

  .drag-handle {
    display: none;
    position: absolute;
    left: 5px;
    top: 35%;
    font-size: 1.5rem;
    color: $text;
    text-shadow: 0 0 10px rgb(0 0 0 / 70%);
  }

  .overlay-hud {
    position: absolute;
    z-index: 20;

    .tracker-indicators {
      backdrop-filter: $filterBackdrop;
      background: transparent;
    }
  }

  .overlay-properties {
    display: flex;
    flex-direction: column;
    backdrop-filter: $filterBackdrop;
    background: #414b55e6;

    img {
      width: 15px;
      height: 15px;
    }

    .value {
      text-overflow: ellipsis;
    }
  }

  .avatar {
    /* background: transparent; */
    border: 1px solid transparent;
    backdrop-filter: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
    overflow: hidden;

    img {
      max-height: 100%;
      background: transparent;
    }
  }

  img.overlay-effect {
    position: absolute;
    left: auto;
    opacity: 0.7;
    height: 80px;
    width: 80px;
  }

  .initiative {
    position: absolute;
    right: 0;
    padding: 2px 0;
    background: radial-gradient(
      rgba(65, 75, 85, 1) 0%,
      rgba(70, 80, 90, 0.8) 25%,
      rgba(75, 85, 95, 0) 100%
    );
    border-radius: 60%;
    z-index: 20;
  }

  .hidden {
    display: none;
  }

  .initiative {
    .fa-2x {
      font-size: 1em;
    }

    .fa-stack-1x {
      text-shadow: 0 0 10px rgb(0 0 0 / 70%);
    }

    input {
      &.fa-stack-1x {
        background: linear-gradient(
          0deg,
          rgba(65, 75, 85, 0.9) 0%,
          rgba(70, 80, 90, 0.8) 50%,
          rgba(75, 85, 95, 0) 100%
        );
        height: 100%;
        text-align: center;
        color: #f0f0e0;
        text-shadow: 0 0 10px rgb(0 0 0 / 70%);
      }

      &[type="text"]:disabled.fa-stack-1x {
        pointer-events: none;
        background: none;
        border: none;
      }
    }
  }

  .fa-dice-d20 {
    color: rgb(113, 116, 133);
    text-shadow: 0 0 10px rgb(0 0 0 / 70%);
  }

  .effects {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: wrap-reverse;
  }

  .effect {
    backdrop-filter: $filterBackdrop;
    background: #414b55e6;

    img {
      height: 15px;
      width: 15px;
    }
  }

  .card {
    border: 1px solid #44475aff;
    border-radius: 3px;
    backdrop-filter: $filterBackdrop;
    background: linear-gradient(
      0deg,
      rgba(40, 42, 54, 0.9) 0%,
      rgba(68, 71, 90, 0.4) 50%,
      rgba(75, 85, 95, 0) 100%
    );

    /* background: #414B55E6; */
    box-shadow: 0 0 10px rgba(0 0 0 / 90%);
    padding: 2px;
    color: #f0f0e0;
  }

  .fly {
    animation: fly-in 500ms both;
  }

  .is-active-combatant.card {
    .active-combatant-wrapper {
      /* display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 99%;
      height: 6%; */
      display: none;
      background: transparent;
      clip-path: none !important;
    }

    .active-combatant {
      background: $content;
      backdrop-filter: $filterBackdrop;
      border: 1px solid transparent;
      border-bottom: none;
      clip-path: none !important;
      text-shadow: 0 0 10px rgb(0 0 0 / 70%);
    }
  }

  img {
    border: none;
  }

  .bar1 {
    text-align: center;
    height: 10%;
  }

  meter {
    --background: #282a36ff;
    --optimum: #8aff80ff;
    --sub-optimum: #ffb86cff;
    --sub-sub-optimum: #ff5555ff;
    text-shadow: 0 0 10px rgb(0 0 0 / 70%);

    /* display: block; */
    /* The gray background in Firefox */
    width: 98%;
    height: 1.2em;
    text-align: center;

    &::-moz-meter-bar {
      height: 25%;
      margin-top: 0.25em;
      background: var(--background);
      border: 1px solid transparent;

      /* box-shadow: 0 2px 2px -2px #333 inset; */
    }

    &:-moz-meter-optimum::-moz-meter-bar {
      background: var(--optimum);
    }

    &:-moz-meter-sub-optimum::-moz-meter-bar {
      background: var(--sub-optimum);
    }

    &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
      background: var(--sub-sub-optimum);
    }

    &::-webkit-meter-bar {
      background: var(--background);
      border: 1px solid transparent;

      /* Was border-top: 1px solid transparent; */
      height: 100%;
    }

    &::-webkit-meter-optimum-value {
      background: var(--optimum);
    }

    &::-webkit-meter-suboptimum-value {
      background: var(--sub-optimum);
    }
  }

  .combat-round .description {
    display: none;
    flex-grow: 0;
    text-align: center;
  }

  .round-marker-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .round-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #44475aff;
    border-radius: 50%;
    background: #414b55e6;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: xx-large;
  }

  .splide__slide:hover {
    .round-marker {
      border-color: $failure;
    }

    .description,
    .round-number {
      display: block;
    }

    meter::after {
      position: relative;
      content: attr(value) "/" attr(max);
      top: -15px;
      background: transparent;
      text-shadow: 0 0 10px rgb(0 0 0 / 70%);
    }
  }

  &:hover {
    header h2 {
      display: inherit;
    }

    background: linear-gradient(
      0deg,
      rgba(65, 75, 85, 1) 0%,
      rgba(70, 80, 90, 0.8) 15%,
      rgba(75, 85, 95, 0) 100%
    );
    backdrop-filter: $filterBackdrop;
    border-radius: 5px;
    text-shadow: 0 0 10px rgba(0 0 0 / 90%);
    z-index: 0;
  }

  header {
    display: flex;
    justify-content: center;
    height: 10px;

    h2 {
      display: none;
    }
  }

  .info-bar {
    background: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: calc(100% * 0.8);
    height: 25px;
  }

  .scene-control {
    &[data-control="combat-carousel"] {
      display: flex;
      height: 36px;
      width: 36px;
      justify-content: center;
      align-items: center;
    }

    img.carousel-icon {
      height: 32px;
      width: 32px;
      margin: 2px;
      border: none;
    }
  }

  .resize-handle {
    width: 18px;
    height: 18px;
    color: $text;
    background: transparent;
    position: absolute;
    top: 40%;
    right: 0;
    padding: 2px;
  }
}
