@use '../variables' as *;

.stylesheet-editor {
  background: $contentWindow;
  color: $textSecondary;
}

/* Code Mirror's bundled dracula.css modified below */
/*
    Name:       dracula
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)
    Original dracula color scheme by Zeno Rocha (https://github.com/zenorocha/dracula-theme)
*/

.stylesheet-editor {
  background: $contentWindow;
  color: $textSecondary;
.CodeMirror {
  color: $text;
  background: $contentWindow;
  &-gutters {
    color: $text;
    background-color: $contentWindow;
  }

  &-linenumber,
  &-linenumbers {
    color: $textSecondary;
  }

  &-guttermarker {
    color: $content;
    &-subtle {
      color: $textSecondary;
    }
  }
}

.cm-s-default {
  .cm-header {color: $textHighlight;}
  .cm-quote {color: #090;}
  .cm-keyword {color: #ff79c6;}
  .cm-atom {color: #bd93f9;}
  .cm-number {color: #bd93f9;}
  .cm-def {color: $textHighlight;}
  .cm-variable,
  .cm-punctuation,
  .cm-property,
  .cm-operator {$accent};
  .cm-variable-2 {color: $accentSecondary;}
  .cm-variable-3,  .cm-type {color: #ffb86c;}
  .cm-comment {color: #$failureSecondary;}
  .cm-string {color: failure;}
  .cm-string-2 {color: $failure;}
  .cm-meta {color: $textSecondary;}
  .cm-qualifier {color: $textSecondary;}
  .cm-builtin {color: $accent;}
  .cm-bracket {color: $accentTertiary;}
  .cm-tag {color: $success;}
  .cm-attribute {color: $textHighlight;}
  .cm-hr {color: $textSecondary;} 
  .cm-link $accentTertiary;
  } 
}