@use '../variables' as *;

.dice-tray {
  button {
    border: 1px solid $border;
    box-shadow: 0 0 4px $accent;

    .dice-tray__flag {
      background-color: $accent;
    }

    &:hover {
      color: $accent;
      box-shadow: 0 0 12px $accent;
    }
  }

  input[type="text"] {
    border: 1px solid transparent;
    box-shadow: 0 0 4px $accent;
  }
}

.dice-calculator {
  > button,
  .dice-calculator--button {
    border: 1px solid transparent;

    &:hover {
      box-shadow: 0 0 4px $accent;
    }
  }

  &__rolls {
    &--hidden {
      background: $content;
      border: $borderTertiary;
    }
  }

  &--op,
  &--math,
  &--stat,
  &--custom {
    background-color: $failure;
    border-color: $border;
  }

  &--confirm {
    background-color: $accentHighlight;
    border-color: $border;
  }

  &--attr {
    background-color: $accentSecondary;
    border-color: $border;
  }
}

// This is safe to replace
#chat-controls .dice-calculator-toggle:hover {
  color: $accent;
}
