@use '../variables' as *;

/* General midi-qol settings */
.midi-qol-nobox {
  border: none;
  padding: 0;
}

.midi-qol-box {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient($gradientDegree, $accent 0%, $highlight 100%);
}

.midi-qol-faint {
  color: $textSecondary;
}

