@use "../variables" as *;

/* Tidy UI */
#module-management {
  button {
    margin-left: 1px;
    margin-right: 1px;
  }
  .package-list {
    border-bottom: 1px solid transparent;

}
  /* Override default tidy-ui height (default: 100vh)
  * NOTE: Debating if it's worth it
  // height: auto;
  // min-height: auto; 
  */

  // The top two buttons in module management for TidyUI
  .disable-all-modules {
    background: transparent;
    border: 1px solid $failure;
  }

  .enable-all-modules {
    background: transparent;
    border: 1px solid $success;
  }

  // Fix unreadable import/export box
  #importExportModal {
    #modalIO {
      color: $text;
      background: $contentWindow;
    }
  }
}

#client-settings {
  .sheet-footer {
    button[name="reset"],
    button[name="submit"] {
      @include thinBorder($accent);
      margin: 2px;

      &:focus {
        border-width: 2px;
      }
    }
  }

  
  input[type="checkbox"] {
    border: 1px solid $border;
    &:active {
      border: 2px solid $accentSecondary;
    }
      // Replace checkmark
      &:checked::after {
        background-image: url(../../assets/icons/svg/check-outline.svg) center no-repeat;
      }
  }


  #config-tabs div.tab[data-tab="modules"] #searchField #searchInput {
    @include thinBorder($accent);
    margin: 2px;

    &:focus,
    &:active {
      @include borderExpand($accent);
      cursor: text;
    }
  }
  &.app.window-app.form #config-tabs .settings-list h2.module-header span {
    color: $textSecondary;
  }
}
