@use '../variables' as *; /* Tidy UI */

body {
  #module-management {
    #importExportModal {
      #modalIO {
        color: $text-color;
        background: $bg_window-content;
      }
    }

//The top two buttons in module management for TidyUI
    .disable-all-modules {
      background: #ff555594;
      border: none;
    }

    .enable-all-modules {
      background: #50fa7b94;
      border: none;
    }
  }

  #client-settings {
    .sheet-footer {
      button[name="reset"],
      button[name="submit"] {
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient($gradientDegree, $purple 0%, $cyan 100%);
      }

      &:focus {
        border-width: 2px;
      }
    }

  #config-tabs div.tab[data-tab="modules"] #searchField #searchInput {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient($gradientDegree, $purple 0%, $cyan 100%);
      &:focus {
        border-width: 2px;
      }
    }
  }
}
