/* Color Variables */
$accent: var(--color-dracula-accent);
$accentSecondary: var(--color-dracula-accent-secondary);
$accentTertiary: var(--color-dracula-accent-tertiary);
$accentHighlight: var(--color-dracula-accent-highlight);

$border: var(--color-dracula-border);
$borderSecondary: var(--color-dracula-border-secondary);
$borderTertiary: var(--color-dracula-border-tertiary);
$borderHighlight: var(--color-dracula-border-highlight);
$borderWhite: var(--color-dracula-border-white);

$content: var(--color-dracula-content);
$contentWindow: var(--color-dracula-content-window);

$glow: var(--color-dracula-glow);
$shadow: var(--color-dracula-shadow);

$text: var(--color-dracula-text-primary);
$textSecondary: var(--color-dracula-text-secondary);
$textTertiary: var(--color-dracula-text-tertiary);
$textHighlight: var(--color-dracula-text-highlight);
$textDark: var(--color-dracula-text-dark);

$inactive: var(--color-dracula-inactive);
$failure: var(--color-dracula-failure);
$failureSecondary: var(--color-dracula-failure-secondary);
$success: var(--color-dracula-success);
$successSecondary: var(--color-dracula-success-secondary);

$filterBackdrop: var(--filter-dracula-backdrop);

/* Miscellaneous Variables */
$gradientDegree: 135deg;

// Settings related

/* @mixin reference */
@mixin gradientBorder($firstColor, $secondColor, $width: 1px) {
  border: $width solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    $gradientDegree,
    $firstColor 0%,
    $secondColor 100%
  );
}

@mixin gradientText($firstColor, $secondColor) {
  background: linear-gradient(
    $gradientDegree,
    $firstColor 0%,
    $secondColor 100%
  );
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin heavyShadow {
  --shadow-color: 232deg 22% 2%;
  box-shadow: 0 0.2px 0.2px hsl(var(--shadow-color) / 0.32),
    0 0.3px 0.4px -1.1px hsl(var(--shadow-color) / 0.35),
    0 0.7px 0.8px -2.2px hsl(var(--shadow-color) / 0.38);
  text-shadow: 0 0.2px 0.2px hsl(var(--shadow-color) / 0.31),
    0 1.1px 1.3px -0.3px hsl(var(--shadow-color) / 0.32),
    0 2px 2.3px -0.6px hsl(var(--shadow-color) / 0.33),
    0 3.3px 3.9px -0.9px hsl(var(--shadow-color) / 0.35),
    -0.1px 5.1px 6px -1.3px hsl(var(--shadow-color) / 0.36),
    -0.1px 7.9px 9.2px -1.6px hsl(var(--shadow-color) / 0.37),
    -0.2px 11.9px 13.9px -1.9px hsl(var(--shadow-color) / 0.38),
    -0.2px 17.4px 20.4px -2.2px hsl(var(--shadow-color) / 0.39);
}

@mixin toolsShadow {
  --shadow-color: 0deg 0% 48%;
  box-shadow: 0 0.1px 0.2px hsl(var(--shadow-color) / 0),
    0 0 0.9px hsl(var(--shadow-color) / 0.08),
    0 0 1.7px hsl(var(--shadow-color) / 0.16),
    0 0 2.4px hsl(var(--shadow-color) / 0.24),
    0 0 3.3px hsl(var(--shadow-color) / 0.33),
    0 0 4.2px hsl(var(--shadow-color) / 0.41),
    0 0 5.6px hsl(var(--shadow-color) / 0.49),
    0 0 7.1px hsl(var(--shadow-color) / 0.57),
    0 0 9.1px hsl(var(--shadow-color) / 0.65),
    0 0 11.7px hsl(var(--shadow-color) / 0.73);

  text-shadow: 0 0.1px 0.2px hsl(var(--shadow-color) / 0),
    0 0 0.3px hsl(var(--shadow-color) / 0.18),
    0 0 0.6px hsl(var(--shadow-color) / 0.35),
    0 0 1.2px hsl(var(--shadow-color) / 0.52),
    0 0 2px hsl(var(--shadow-color) / 0.7);
}

// Button lift effect for hovering
@mixin hoverRaise {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em $accent;
  transition: 0.25s;
}

// Expand border for hover effects
@mixin borderExpand($color) {
  cursor: pointer;
  border-color: $color;
  box-shadow: inset 0 0 0 0.5px $color;
}

// For being lazy
@mixin lightToDark($bg) {
  color: $textSecondary;
  background: $bg;
}

@mixin thinBorder($thinColor, $bg: inherit) {
  border: 1px solid $thinColor;
  border-width: 1px;
  background: $bg;
}
